body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

label, input {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

input {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

input#file {
  display: none;
}

svg {
  width: 50%;
  border: 2px solid grey;
}

@media screen and (min-width: 800px) {
  p {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  p {
    width: 33%;
    display: inline-block;
  }
}